@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&family=Spectral:ital@1&display=swap');


.container-fluid {
    margin: 0;
    padding: 0;
}


/* -----------------------------------------------------------Header */

.heading {
    font-family: "Great Vibes", sans-serif;
    text-align: center;
    border: 1px solid;
    padding: 20px;
    margin: 0;
    font-size: 50px;
    background-color: #fff;
    color: #2d3436;
    letter-spacing: 5px;
}

a:hover {
    text-decoration: none !important;
}

.img-head {
    color: #fff;
    font-family: "Spectral",sans-serif;
    font-size: 60px;
    padding: 20px;
}

.btn-img {
    padding: 20px;
    margin-top: 90px;
    text-align: center;
   
}

/* -----------------------------------------------------------Navbar */

.navbar-bg {
    font-family: "lato", sans-serif;
    border: 1px groove;
    background-color: #d3d3d3;
    text-transform: uppercase;
    color: #2d3436;
}





/* -----------------------------------------------------------Image */

.img-container {
    background: url("../images/paint.jpg") no-repeat center center;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* callout-container parent of the child -opaque-overlay, parent musi byc relative a child absolute  */
    position: relative
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}


.btn-bg-color:hover {
    background-color: #2d3436;
}

/* -----------------------------------------------------------Footer */



footer {
    background-color: #d3d3d3;
    color: #2d3436;
    border: 1px groove; 
}


.social-links {
    text-align: center;
    margin: 0;
    padding: 20px;
}

.social-links li a i {
    color: #2d3436;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 50%;
}

.social-links li a i:hover {
    color: #aaa;
}


/* -----------------------------------------Slideshow */

.slide-mg {
    margin: 10px;
    justify-content: center;
}


@media (min-width: 280px) and (max-width: 367px) {
    .ft-fold {font-size: 30px;}
    .img-head-fold {font-size: 50px;}
}
