@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&family=Spectral:ital@1&display=swap');

html {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #a5d4de; 
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}


/* ----------------------------------------------------------- Header */

.heading {
    background-image: linear-gradient(#ffff, #a5d4de);
    font-family: "Great Vibes", sans-serif;
    text-align: center;
    border: 1px solid;
    padding: 20px;
    margin: 0;
    font-size: 3.1rem;
    color: #2d3436;
    letter-spacing: 5px;
}

a:hover {
    text-decoration: none !important;
    
}


/* ----------------------------------------------------------- Navbar */

.navbar-bg {
    font-family: "lato", sans-serif;
    border: 1px groove;
    background-color: #a5d4de;
    color: #425c81;
}


/* ------------------------------------------------------------ Hero Image */

.img-container {
    background: url("../images/paint.webp") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #425c81;
}


.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero-img {
    color: #d8e3e9;
    font-family: "Spectral",sans-serif;
    font-size: 4rem;
    padding: 1.5rem;
    text-align: center;
}


.btn-img {
     text-align: center;  
     padding: 2rem;
}

.mybtn{
    color: #d8e3e9;
    background-color: #425c81;
    border: 1px solid;
    border-radius: 0.25rem;
    padding: 10px;

}

.mybtn:hover {
    background-color: #a5d4de;
    color: #2d3436;
    border: 1px solid;
}



/* -------------------------------------------------------- About me */

.header-art {
    font-family: "Spectral", sans-serif;
    padding: 10px 10px 0;
    color: #f3f4f9;
}

.about-bg {
    height: 50vh;
    background-color: #425c81;
    border: 1px solid;
    overflow: auto;
}


.about-bg p {
    text-align: justify;
    letter-spacing: 1px;
    color: #f3f4f9;
    margin-bottom: 0;
}


/* -------------------------------------------------------- Earth Quote */


.secquote-bg {
    background: url('../images/quote1.webp') center;
    background-size: cover;
    background-color: #425c81;
    height: 50vh;  
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    border: 1px solid;
    position: relative;  
}

.quote1 {
    color: #a5d4de;
    position: absolute; 
}

.quote1 h1 {
    font-size: 3.5rem;
}

.color {
    color: #78e08f;
}
 
.color2 {
    color: #2ed9d3;
}

.color3 {
    color: #07f7eb;
}


/* -------------------------------------------------------- Art Quote */

.quote-bg {
    background: url('../images/quote.webp') center;
    background-size: cover;
    height: 50vh;  
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    border: 1px solid;
    position: relative;  
}


.quote {
    color: #2d3436;
    font-size: 2.2rem; 
    position: absolute; 
}

.quote p {
    text-align: center;
}



/* ------------------------------------------------------- Slideshow */


.slide {
    background-color: #425c81;
    border: 1px solid; 
}
.carousel-item img {
    height: 50vh;
    object-fit: contain;
}


/* --------------------------------------------------------- Footer */


.footer {
    background-image: linear-gradient(#a5d4de, #ffff);
    border: 1px groove; 
    grid-row-start: 2;
    grid-row-end: 3;
}


.social-links {
    text-align: center;
    margin: 0;
    padding: 20px;
}

.social-links li a i {
    color: #425c81;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 50%;
}

.social-links li a i:hover {
    color: #a5d4de;
}



/* -------------------------------------------------------- Gallery */

.pic {
    margin: 5px 5px;
}

.pic img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #425c81;
  }

.padlef {
    padding: 5px;
}


 /* ------------------------------------------------------ Contact*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-heading {
    margin-top: 35px;
    margin-bottom: 20px;
    
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;}


  /* -------------------------------------------------- Thank you page */

  .thankyou {
    border: 1px solid #425c81;
    color: #2d3436;
    border-radius: 1rem;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }



/* ---------------------------------------------------- Media query */


@media(min-width: 280px) and (max-width: 374px) {
    .heading {font-size: 2rem;}
    .hero-img {font-size: 3rem;}
    

  }

@media(min-width: 768px) {
    .secquote p {display: table-caption; font-size: 3.5rem;}
    .row-main {display: flex; justify-content: space-evenly;}
    .border-lg {border-radius: 50px; margin: 10px 0;}
    .center-form {max-width: 50%;}
}







