@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&family=Spectral:ital@1&display=swap');


body {
    font-family: "Lato", sans-serif;
    background-color: #d8e3e9;
 
    
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}


/* -----------------------------------------------------------Header */

.heading {
    background-image: linear-gradient(#ffff, #a5d4de);
    font-family: "Great Vibes", sans-serif;
    text-align: center;
    border: 1px solid;
    padding: 20px;
    margin: 0;
    font-size: 3.1rem;
    color: #2d3436;
    letter-spacing: 5px;
}

a:hover {
    text-decoration: none !important;
    
}


/* -----------------------------------------------------------Navbar */

.navbar-bg {
    font-family: "lato", sans-serif;
    border: 1px groove;
    background-color: #a5d4de;
    color: #425c81;
}


/* -----------------------------------------------------------Image */

.img-container {
    background: url("../images/paint.jpg") no-repeat center center;
    height: 50vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.img-head {
    color: #d8e3e9;
    font-family: "Spectral",sans-serif;
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
}


.btn-img {
     text-align: center;  
     padding: 2rem;
}

.mybtn{
    color: #d8e3e9;
    background-color: #425c81;
    border: 1px solid;
    padding: 10px;
}

.mybtn:hover {
    background-color: #a5d4de;
    color: #2d3436;
    border: 1px solid;
}



/* -----------------------------------------Slideshow */



#slide {
    background-color: #425c81;
}



/* ----------------------------------------- Quote */

.header-art {
    font-family: "Spectral", sans-serif;
    padding: 10px 10px 0;
    color: #2d3436;
}

.about-bg {
    height: 50vh;
}


.about-bg p {
    text-align: justify;
    letter-spacing: 1px;
}


.about-quote {
    background-color: #a5d4de;  
}


.quote-bg {
    background: url('../images/quote.png') center;
    background-size: cover;
    height: 50vh;  
    display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}


.quote {
    color: #2d3436;
    font-size: 2.2rem;  
}

.quote p {
    text-align: center;
}

/* -----------------------------------------Sec Quote */

.secquote-bg {
    background: url('../images/quote1.jpg') center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secquote p {
    font-size: 3.2rem;
    color: #fff;
    
}

.color {
    color: #78e08f;
}
 
.color2 {
    color: #2cfff8;
}

.color3 {
    color: #079992;
}

/* -----------------------------------------------------------Footer */


footer {
    background-image: linear-gradient(#a5d4de, #ffff);
    border: 1px groove; 
}


.social-links {
    text-align: center;
    margin: 0;
    padding: 20px;
}

.social-links li a i {
    color: #425c81;
    width: 35px;
    height: 35px;
    font-size: 25px;
    border-radius: 50%;
}

.social-links li a i:hover {
    color: #a5d4de;
}


/* -----------------------------------------------------------Gallery */


.pic {
    margin: 5px 5px;
}

.pic img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 4px 4px #425c81;
    padding: 0;
  }

.padlef {
    padding: 5px;
}


 /* ---------------------------------------------------- Contact*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
    
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;}

  /* ----------------------------------------------------Media query */


@media(min-width: 450px) and (max-width: 1392px) {
    .carousel-item img {object-fit: contain; height: 50vh;}}

@media(min-width: 1393px) {
    .carousel-item img {object-fit: contain; height: 50vh;}
    .secquote p {margin-left: auto; margin-right: auto; width: 50%; font-size: 4.5rem;;}
    .about-bg p {text-align: justify; font-size: 1.5rem; padding: 1rem;}
    .center-form {padding-top: 30px; min-height: 240px; margin: 0 auto; max-width: 50%;}
}


@media(max-width: 367px) { }

